
body {
  background-image: url('../public/GameCreate.jpg'); /* Resmin yolunu buraya ekleyin */
  background-size: cover; /* Resmin ekran boyutuna uyumlu olmasını sağlar */
  background-repeat: no-repeat; /* Resmin tekrar etmemesini sağlar */
  background-position: center; /* Resmi ortalamak için */
  color: white; /* Metin rengini beyaz olarak ayarlar, arka plan resminin üzerinde görünmesini sağlar */
}

.game-setup {
    text-align: center;
    padding: 20px;
    background-image: #f1f1f1;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 300px;
  }
  
  .game-setup h1 {
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color:#BFBFBF ;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  