.App {
    text-align: center;
    margin-top: 5px;
    
  }
  

  .game-header {
    text-align: center;
    padding: 20px;
    background-color: #4caf50; /* Arka plan rengi */
    color: white; /* Yazı rengi */
    border-radius: 0px; /* Köşe yarıçapı */
    margin-bottom: -150px;
    margin-top: 150px;
  }
  
  .game-header h1 {
    margin: 0;
  }

  


  .board {
     transform: scale(0.55);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: 0px auto;
    max-width: 795px;
    background-color: #8d8282;
    border-radius: 0px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cell.empty:hover {
    background-color: #ccc;
  }
  
  /* Adjust animation for player and AI */
  .dropping-player {
    animation: dropPieceAnimationPlayer 0.6s ease-out;
  }
  
  .cell.ai.falling {
    animation: dropPieceAnimation 0.6s ease-out;
  }
  
  @keyframes dropPieceAnimation {
    0% {
      transform: translateY(-400px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  @keyframes dropPieceAnimationAI {
    0% {
      transform: translateY(-400px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  